<%- include('partials/header') -%>

<%- include('partials/navbar') -%>
    
<div class="jumbotron">
    <h1>Shiver's Website :)</h1>
    <p>Best Anime Recommendation Website</p>
</div>

<section class="my-5">
    <div class="py-5">
        <h2 class="text-center">About Us</h2>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <img src="image/img5.jpg" alt="mob pic" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <h2 class="display-4">I am Shiver.</h2>
                <p class="py-3">
                    I am a student of Chandigarh University who is making this Mob Psycho 100 official Website for fun.
                    Coding and designing is something that i love to do.
                    Currently I'm pursuing my BE Degree in the field of Computer Science.</p>
                <a href="about" class="btn btn-success">Read more</a>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') -%>